* {
  margin: 0px;
  padding: 0px;
}


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  overflow: hidden;
  margin: auto;
  /* Center the container */
}

.chat-header {
  padding: 10px 20px;
  background-color: #b4b4b4;
  color: #ffffff;
  text-align: center;
}

.chat-history {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #f9f9f9;
}

.chat-history .user-message {
  text-align: right;
  margin-bottom: 10px;
}

.chat-history .bot-message {
  text-align: left;
  margin-bottom: 10px;
}

.message-content {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 70%;
  word-wrap: break-word;
}

.user-message .message-content {
  background-color: #b4b4b4;
  color: #000000;
}

.bot-message .message-content {
  background-color: #e9ecef;
  color: #000000;
}

.chat-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
  background-color: #fff;
}

.chat-input textarea {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  resize: none;
}

.chat-input button {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: #0056b3;
}
